<div class="comment">
  <p class="comment-meta">{{ comment.author.name }} &middot {{ comment.date }}</p>

  <div class="comment-content">
    {{ comment.comment_content|wpautop }}
  </div>

  {{ comment.reply_link('Respond') }}

  {% if comment.children %}
    <div class="comment-children">
      <h4>
        Replies
      </h4>

      {% for comment in comment.children %}
        {% include "partials/comment.twig" %}
      {% endfor %}
    </div>
  {% endif %}
</div>