<header class="hero" style="background-image: url({{ TimberImage(post.get_field('header_image')).src|resize(2400) }});">
	<div class="hero-inner">
		<h1 class="hero-name">
			{{ site.name }}
		</h1>

		<h2 class="hero-tagline">
			{{ site.description }}
		</h2>
	</div>

	<div class="scroll-down">
	</div>
</header>
