<ul class="socials-list">
	{% if options.social_instagram %}
		<li class="socials-list-instagram">
			<a href="{{ options.social_instagram }}" title="Follow me on Instagram">
			</a>
		</li>
	{% endif %}
	{% if options.social_facebook %}
		<li class="socials-list-facebook">
			<a href="{{ options.social_facebook }}" title="Follow me on Facebook">
			</a>
		</li>
	{% endif %}
	{% if options.social_flickr %}
		<li class="socials-list-flickr">
			<a href="{{ options.social_flickr }}" title="Follow me on Flickr">
			</a>
		</li>
	{% endif %}
	{% if options.social_pinterest %}
		<li class="socials-list-pinterest">
			<a href="{{ options.social_pinterest }}" title="Follow me on Pinterest">
			</a>
		</li>
	{% endif %}
</ul>
