    <footer class="footer">
      <div class="wrapper">
        <div class="copyright">
          <p>
            &copy; Copyright {{ now|date('Y') }} - {{ site.name }}
          </p>
        </div>
      </div>
    </footer>

    {{ wp_footer }}
  </body>
</html>
