@mixin flex-grid-wrapper() {
  display: flex;
  flex-flow: row wrap;
  float: left;
  justify-content: flex-start;
  width: 100%;

  @include min-width('small') {
    margin-bottom: -($flex-grid-spacing);
    margin-left: -($flex-grid-spacing / 2);
    width: calc(100% + #{$flex-grid-spacing});
  }
}
