@mixin flex-grid-item() {
  @include full-width();
  margin: 0 0 $flex-grid-spacing;

  @include min-width('medium') {
    flex: 0 0 calc(50% - #{$flex-grid-spacing});
    margin: 0 ($flex-grid-spacing / 2) $flex-grid-spacing;
  }

  @include min-width('large') {
    flex: 0 0 calc(33.333% - #{$flex-grid-spacing});
  }
}
