.comment {
  @include full-width();
  margin-bottom: $text-margin;

  &-meta {
    font-size: map-get($font-sizes, 'text-small');
    margin-bottom: ($text-margin / 2);
  }

  &-content p {
    margin-bottom: ($text-margin / 2);
  }

  &-reply-link {
    font-size: map-get($font-sizes, 'text-small');
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &-children {
    @include full-width();
    padding-left: $text-margin;
    padding-top: $text-margin;
  }
}
