{% extends 'base.twig' %}

{% block content %}
  <h1>
    Whoops!
  </h1>

  <p>
    This page doesn't exist. You might want to check the URL for spelling errors or use the menu above to find the page you're looking for.
  </p>

  <p>
    <a class="button" href="{{ site.url }}">
      To the homepage
    </a>
  </p>
{% endblock %}
