{% extends 'base.twig' %}

{% block content %}
  <h1>
    {{ title }}
  </h1>

  {% if posts is not empty %}
    <div class="post-wrap">
      {% for post in posts %}
        {% include 'partials/post.twig' %}
      {% endfor %}
    </div>
  {% else %}
    <p>
      No results.
    </p>
  {% endif %}
{% endblock %}
